<!DOCTYPE html>
<html lang="en"  id="cntrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <title>{{Status.title}}</title>
    <link rel="icon" href="/images/Ryan.png">
    <link rel="shortcut icon" href="/images/Ryan.png" type="image/x-icon" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" type="text/css"
          rel="stylesheet"></link>
    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" type="text/css"
          rel="stylesheet"></link>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" type="text/css" rel="stylesheet">
    <script src="/bower_components/angular/angular.js"></script>
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="TimeCardController">
<div>
    <!-- Ribbon -->
    <div class="ribbon ribbon-primary">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--container -->
            <div class="container">
                <!--row-->
                <div class="row">
                    <div class="col-lg-1 col-sm-1"></div>
                    <!--columns-->
                    <div class="col-lg-10 col-sm-12">
                        <!--panel-->
                        <div class="panel panel-default box-shadow--16dp" ng-cloak>
                            <!--panel header-->
                            <div class="panel panel-heading" ng-cloak>
                                <div class="row">
                                    <div class="">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="btn-group btn-group-vertical"
                                                 style="margin-top: 0; width: 100%;">
                                                <div class="btn-group">
                                                    <button type="button" ng-click="buttonSubmit()"
                                                            class="btn btn-primary btn-raised">
                                                        {{Status.punch}}
                                                    </button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" ng-click="btnHour();"
                                                            class="btn btn-primary btn-raised">
                                                        {{Status.full}}
                                                    </button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" ng-click="btnHalf()"
                                                            class="btn btn-primary btn-raised">
                                                        {{Status.half}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 ">
                                            <div class="panel panel-info hidden-sm hidden-xs">
                                                <div class="panel-body" style="padding:5px 15px 5px 15px">
                                                    <label class="control-label" for="_date">Enter Clock In Time</label>
                                                    <div class="btn-group " role="group">
                                                        <input type="datetime-local" ng-model="TimeStamps.date"
                                                               class="form-control dater" id="_date">
                                                    </div>

                                                    <button type="button" ng-click="insertTimeStamp()"
                                                            class="btn btn-primary btn-fab  btn-fab-mini">
                                                        <i class="material-icons">send</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--panel header-->

                            <!--panel body-->
                            <div class="panel-body ">
                                <!--small screens-->
                                <div class="row hidden-md hidden-lg" ng-repeat="(index, object) in TimeCard">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">
                                                <h3>{{object.day_name}} - {{object.clock_date | cleanDate }}</h3>
                                            </div>
                                            <div class="panel-body" ng-bind-html="PanelText(object)"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <!--small screens-->

                                <!-- Table -->
                                <div class="table-responsive box-shadow--16dp  hidden-xs hidden-sm"
                                     ng-show="TimeCard.length>0"
                                     style="max-height: 600px;">
                                    <table id="assetTable" class="table table-bordered text-center">
                                        <tbody>
                                        <tr>
                                            <th>Date</th>
                                            <th>Day of Week</th>
                                            <th>Clock In</th>
                                            <th>Clock Out</th>
                                            <th>Hours</th>
                                            <th>Lunch</th>
                                        </tr>
                                        <tr ng-repeat="object in TimeCard"
                                            ng-class="(object.day_name == 'Monday') ? 'warning h5': ''"
                                            ng-show="object.show">
                                            <td>{{object.clock_date | cleanDate }}</td>
                                            <td>{{object.day_name}}</td>
                                            <td>{{object.clock_in}}</td>
                                            <td ng-class="(!object.clock_out) ? 'danger': ''">
                                                {{object.clock_out}}
                                            </td>
                                            <td ng-class="(!object.clock_out) ? 'danger': ''">
                                                {{object.hours}}
                                            </td>
                                            <td ng-class="(!object.clock_out) ? 'danger': ''">
                                                {{object.lunch==0 ? '' : object.lunch }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Table --><br />
                            </div>
                            <!--panel body-->
                        </div>
                        <!--panel-->
                    </div>
                    <!--columns-->
                    <div class="col-lg-1  col-sm-1"></div>
                </div>
                <!-- row -->
            </div>
            <!--container -->
        </div>
        <!-- Page Content -->
    </div>
    <!-- Ribbon -->
</div>
<!-- /#wrapper -->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/main-app.js"></script>
<script src="/javascripts/timecard.js"></script>
</body>
</html>
